@model netcore_ecommerce.Models.Category

@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">
            Create Category
        </h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item">
                    <a href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/category">
                        Categories
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    Create Category
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

